<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/orderDetail.css">
    <script type="module" src="/static/js/orderDetail.js"></script>
    <title>案件詳細</title>
</head>

<body>
    <h1>案件詳細</h1>

    <main>
        <p class="loading">読み込み中</p>
        <h2>案件基本情報</h2>
        <table>
            <tbody>
                <tr>
                    <th>
                        案件名
                    </th>
                    <td colspan="2">
                        都立花巻中学校2025年度卒業アルバム
                    </td>
                </tr>
                <tr>
                    <th>
                        顧客名
                    </th>
                    <td colspan="2">
                        都立花巻中学校
                    </td>
                </tr>
                <tr>
                    <th rowspan="6">仕様</th>
                    <th>サイズ</th>
                    <td>A4縦</td>
                </tr>
                <tr>
                    <th>頁</th>
                    <td>
                        <ul>
                            <li>表紙4頁</li>
                            <li>本文72頁</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>印刷</th>
                    <td>
                        <ul>
                            <li>表紙: 特1/0</li>
                            <li>本文: 4/4</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>加工</th>
                    <td>
                        <ul>
                            <li>表紙: 片面マットPP貼</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>製本</th>
                    <td>
                        <ul>
                            <li>無線綴じ(左綴じ)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>部数</th>
                    <td>
                        <ul>
                            <li>400部</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>用紙情報</h2>
        <table>
            <tbody>
                <tr>
                    <th>用紙1</th>
                    <td>表紙</td>
                    <td>ほげほげマット：菊判, 93.5kg, 四裁</td>
                    <td>00包</td>
                </tr>
                <tr>
                    <th>用紙2</th>
                    <td>本文</td>
                    <td>ほげほげコート：菊判, 76.5kg, 半裁</td>
                    <td>00包</td>
                </tr>
            </tbody>
        </table>
        <h2>印刷情報</h2>
        <table>
            <tbody>
                <tr>
                    <th>印刷1</th>
                    <td>表紙</td>
                    <td>菊判四裁</td>
                    <td>特1C/0C</td>
                    <td>000通し</td>
                    <td>特色DIC254</td>
                </tr>
                <tr>
                    <th>印刷2</th>
                    <td>本文</td>
                    <td>菊判半裁</td>
                    <td>４C/4C</td>
                    <td>000通し</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>

        <h2>加工情報</h2>
        <table>
            <tbody>
                <tr>
                    <th>加工1</th>
                    <td>表紙片面マットPP</td>
                </tr>
            </tbody>
        </table>

        <h2>製本情報</h2>
        <table>
            <tbody>
                <tr>
                    <th>製本1</th>
                    <td>無線綴じ(左綴じ)</td>
                </tr>
            </tbody>
        </table>

        <h2>配送情報</h2>
        <table>
            <tbody>
                <tr>
                    <th>配送1</th>
                    <td>トラック配送</td>
                    <td>400部</td>
                    <td>納品先：都立花巻中学校</td>
                </tr>
            </tbody>
        </table>
    </main>
    <button id="back-button" class="back">
        戻る
    </button>

</body>
<footer>
    
</footer>

</html>